<div class="container">
  <h3>FAC9 Salaries a year after graduation</h3>

  <div>
    <div class="row header">
        <div class="col s4">Title</div>
        <div class="col s2">Company type</div>
        <div class="col s4">Stack</div>
        <div class="col s2 right">Salary</div>
    </div>

      {{#each salaryData}}
        <div class="row">
            <div class="col s4">{{this.job_title}}</div>
            <div class="col s2">{{this.company_type}}</div>
            <div class="col s4">{{this.stack}}</div>
            <div class="col s2 right">{{this.salary}}</div>
        </div>
      {{/each}}
</div>

</div>
