<div class="container">
  <h3>FAC9 Salaries a year after graduation</h3>

  <table>
      <thead>
          <tr>
              <th>Title</th>
              <th class="pr-5">Company type</th>
              <th>Stack</th>
              <th class="right">Salary</th>
          </tr>
      </thead>
      <tbody>
        {{#each salaryData}}
          <tr>
              <td>{{this.job_title}}</td>
              <td class="pr-5">{{this.company_type}}</td>
              <td>{{this.stack}}</td>
              <td class="right">{{this.salary}}</td>
          </tr>
        {{/each}}
      </tbody>
  </table>

</div>
